<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.UserMapper">

    <!--增删改-->
    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user(`id`,`username`, `password`, `age`, `sex`, `email`)
        values(null, 'xiaoxiao1', 'abc123', 18, '男', 'abc@qq.com')
    </insert>

    <!--int updateUser();-->
    <update id="updateUser">
        update t_user
        set username="xiaoming"
        where id = 7;
    </update>

    <!--int deleteUser();-->
    <delete id="deleteUser">
        delete from t_user where id = 8;
    </delete>

    <!--查询-->
    <!--User getUserById();-->
    <!--
        查询功能标签必须设置resultType或resultMap
        resultType：设置默认的映射关系（保证字段名和属性名一致）
        resultMap：设置自定义的映射关系（不一致时比如多表查询，自定义映射）
    -->
    <select id="getUserById" resultType="User">
        select * from t_user where id = 7;
    </select>

    <!--List<User> getAllUsers();-->
    <select id="getAllUsers" resultType="User">
        select * from t_user;
    </select>
</mapper>